html {
	height: 100%;
}
body {
	overflow: auto;
	background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	margin: auto;
	text-align: center;
	color: white;
	font-family: "Patrick Hand", cursive;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-family: "Nerko one";
	text-shadow: 1px 1px 6px #cf4a55;
	margin-bottom: 0;
	font-size: 3.5rem;
	margin-top: 100px;
}

h2 {
	margin: 0px auto 100px auto;
	text-shadow: 1.5px 1px 5px #a495f0;
	font-size: 1.4rem;
}
footer {
	opacity: 0.6;
}
.score {
	margin-top: 120px;
}
.container {
	display: block;
	position: relative;
	margin: auto;
}
.row {
	width: 100%;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.box {
	position: relative;
	height: 230px;
	width: 230px;
	border: 3px solid rgba(255, 255, 255, 0.212);
	border-top-left-radius: 100%;
}
.big-circle {
	width: 540px;
	height: 540px;
	background-color: rgb(24, 24, 24);
	border-radius: 50%;
	margin: auto;
	z-index: -1;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	margin-bottom: 20px;
}
.center-circle {
	width: 200px;
	height: 200px;
	position: relative;
	background-color: rgb(24, 24, 24);
	border-radius: 50%;
	bottom: 770px;
	left: 168px;
	z-index: 5;
}
.center-circle:after {
	pointer-events: none;
	content: "SIMON";
	position: absolute;
	top: 60px;
	right: 25px;
	color: white;
	font-family: "Nerko one", cursive;
	font-weight: bold;
	font-size: 4rem;
	animation-name: light-effect;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes light-effect {
	0% {
		text-shadow: 1px 1px 3px white;
	}
	25% {
		text-shadow: 1px 1px 5px white;
	}
	50% {
		text-shadow: 1px 1px 10px white;
	}
	75% {
		text-shadow: 1px 1px 5px white;
	}
	100% {
		text-shadow: 1px 1px 3px white;
	}
}

#green {
	background-color: green;
	top: 25px;
	left: 20px;
	box-shadow: 1px 1px 50px green;
}
#red {
	background-color: red;
	transform: rotate(90deg);
	bottom: 212px;
	left: 280px;
	box-shadow: 1px 1px 50px red;
}
#yellow {
	background-color: yellow;
	transform: rotate(-90deg);
	bottom: 195px;
	left: 24px;
	box-shadow: 1px 1px 50px yellow;
}
#blue {
	background-color: blue;
	transform: rotate(-180deg);
	top: -430px;
	left: 278px;
	box-shadow: 1px 1px 50px blue;
}

#prueba {
	width: 100px;
	height: 100px;
	background-color: pink;
	position: absolute;
	bottom: 10px;
}
.game-over {
	background-color: #8e0e00;
	background-image: linear-gradient(to right, #1f1c18, #8e0e00, #1f1c18);
}

@media (max-width: 480px) {
	h2 {
		margin: 0px auto 60px auto;
	}
	.container {
		transform: scale(1);
	}
	footer {
		position: relative;
	}
	.score {
		margin-top: 0px;
	}
}
